.AJFChart, .AJFChartHalf1, .AJFChartHalf2, .AJFChartPiece {
  -webkit-box-sizing: border-box; /* Android ≤ 2.3, iOS ≤ 4 */
     -moz-box-sizing: border-box; /* Firefox 1+ */
          box-sizing: border-box; /* Chrome, IE 8+, Opera, Safari 5.1 */
}

.AJFChart {
    background-color: gray;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    display: block;
}

.AJFChartHalf1, .AJFChartHalf2 {
    position: relative;
    float: right;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.AJFChartHalf2 {
    -webkit-transform: rotate(180deg);
       -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
         -o-transform: rotate(180deg);
            transform: rotate(180deg);
}

.AJFChartPiece {
    width: 100%;
    height: 100%;
    -webkit-transform-origin: 0% 50%;
       -moz-transform-origin: 0% 50%;
        -ms-transform-origin: 0% 50%;
         -o-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 2%;
}

.AJFChartLabel {
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px black;
    font-size: 8pt;
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
    -webkit-transform: rotate(90deg);
       -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
         -o-transform: rotate(90deg);
            transform: rotate(90deg);
}
