/* sane box model */
* {
  -webkit-box-sizing: border-box; /* Android ≤ 2.3, iOS ≤ 4 */
     -moz-box-sizing: border-box; /* Firefox 1+ */
          box-sizing: border-box; /* Chrome, IE 8+, Opera, Safari 5.1 */
}

/* make sure the background always uses full height */
html, body {
    min-height: 100%;
}

body {
    background-image: url(bg.svg);
    background-color: rgb(95, 49, 132);
    background-size: cover;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 11pt;
    color: white;
}

a {
    color: white;
}
a:visited {
    color: #ccc;
}

ul {
    margin: 5px;
    padding-left: 15px;
}

li {
    list-style-type: square;
}

.unloaded {
    display: none;
}

header, article, #meta, #viewer, #playlist-holder, #chat, #chatlog, #users-online, #poll, footer {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px;
}

header {
    clear: both;
    overflow: hidden;
    margin-bottom: 5px;
}

#homepage {
    clear: both;
    overflow: hidden;
}
#homepage img {
    float: left;
}

#meta {
    margin-bottom: 5px;
}

#viewer {
    clear: both;
    overflow: hidden;
    min-height: 480px;
}

input[type=text] {
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    min-width: 200px;
}

#title {
    width: 300px;
}

@media screen and (min-width: 1063px) {
    #playlist-holder {
        float: left;
        width: 250px;
        height: 480px;
    }

    #playlist {
        width: 240px;
        height: 350px;
    }

    #player {
        float: left;
        margin-left: 5px;
    }

    #buttons {
        height: 120px;
    }
}
@media screen and (max-width: 1062px) {
    #playlist-holder {
        clear: both;
        width: 788px;
        height: 270px;
    }

    #playlist {
        width: 778px;
        height: 200px;
    }

    #player {
        clear: both;
        margin-top: 5px;
    }

    #buttons {
        height: 60px;
    }
}

#playlist {
    border: none;
    color: white;
    background: none;
}

.now-playing {
    background-color: rgba(255, 127, 0, 0.5);
}

#chatlog, #users-online {
    overflow: auto;
    word-wrap: break-word;
}

#chat-buttons {
    clear: both;
}

@media screen and (min-width: 1318px) {
    #chat {
        float: left;
        margin-left: 5px;
        width: 250px;
        height: 480px;
    }
    #chatlog {
        height: 310px;
        margin-bottom: 5px;
        margin-bottom: 5px;
    }
    #users-online {
        height: 100px;
        margin-bottom: 5px;
    }
}
@media screen and (min-width: 1063px) and (max-width: 1317px) {
    #chat {
        clear: both;
        margin-top: 5px;
        width: 1043px;
        height: 240px;
        overflow: hidden;
    }
    #chatlog {
        height: 190px;
        width: 850px;
        float: left;
    }
    #users-online {
        height: 190px;
        width: 170px;
        float: right;
    }
}
@media screen and (max-width: 1062px) {
    #chat {
        clear: both;
        margin-top: 5px;
        width: 788px;
        height: 240px;
    }
    #chatlog {
        height: 190px;
        width: 600px;
        float: left;
    }
    #users-online {
        height: 190px;
        width: 170px;
        float: right;
    }
    #video-count {
        display: inline-block;
    }
}

#chatbox {
    height: 20px;
}

.chat-info {
    color: gray;
}

.chat-join {
    color: green;
}

.chat-leave {
    color: maroon;
}

.chat-update {
    color: orange;
}

.chat-action {
    color: purple;
}

.chat-greentext {
    color: rgb(120, 153, 34);
}

.chat-nick {
    font-weight: bold;
}

#poll {
    margin-top: 5px;
}

footer {
    margin-top: 5px;
}

h1 {
    color: white;
    font-weight: normal;
    text-shadow: 0px 0px 5px rgb(124, 167, 250), 0px 0px 5px rgb(124, 167, 250), 0px 0px 5px rgb(124, 167, 250);
    margin: 0;
    float: left;
}

h1 a {
    text-decoration: inherit;
    color: inherit !important;
}

h1 a img {
    border: none;
    vertical-align: bottom;
}

header button {
    display: block;
    float: left;
    margin-top: 8px;
    margin-left: 6px;
}
